/***** medium Layout *****/

@media (min-width: 992px) and (max-width: 1200px) {
    .satisfacation img {
        margin-right: 10px;
    }

    .service-right {
        font-size: 12px;
        padding: 6px 10px;
    }

    .why-us h3 {
        font-size: 11px;
    }

    .satisfacation img {
        width: 80px;
    }

}

/***** Tablet Layout *****/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .why-us h3 {
        font-size: 10px;
        padding: 13px 10px;
    }

    .why-us i.fa {
        height: 20px;
        width: 20px;
        line-height: 18px;
        margin-left: 5px;
    }

    .logo {
        text-align: center;
    }

    .service-left {
        width: 17%;
    }

    .service-left i {
        font-size: 20px;
    }

    .service-right {
        padding: 3px 10px;
        font-size: 10px;
        font-weight: 600;
        width: 83%;
    }

    .service-left img {
        width: 20px;
    }

    .support-box ul li {
        padding: 11px 0;
    }

    .box-area h1 {
        font-size: 20px;
    }

    .footer-widget h3 {
        padding: 25px 0 0;
    }
}

/***** Mobile Layout *****/

@media only screen and (max-width: 767px) {
    .header-area {
        margin: 0;
    }

    .logo {
        text-align: center;
    }

    .dis-heading {
        margin: 30px 0 0;
    }

    .box-area h1 {
        font-size: 16px;
        padding: 10px;
        line-height: 1.6;
    }

    .why-us {
        width: 100%;
    }

    .why-us h3 {
        text-align: center;
        margin-bottom: 10px;
    }

    .why-us h3 i {
        transform: rotate(90deg);
    }

    .wel-come {
        padding: 10px 0;
    }

    .wel-come {
        text-align: center;
    }

    .support {
        text-align: center !important;
    }

    .support h2 {
        font-size: 18px;
    }

    .footer-logo img {
        width: 250px;
    }

    .pro-title {
        padding: 0;
    }

    .pro-title h3 {
        font-size: 20px;
    }

    .banner-area img {
        height: auto;
    }

    .support-box ul li {
        width: 100%;
        font-size: 14px;
        border-left: 1px solid #D1D1D1;
    }

    .satisfacation {
        text-align: center;
    }

    .header-wraper {
        margin: 20px 0 0;
    }

    .satisfacation img {
        width: 80px;
        margin: 0 10px 10px 0px;
    }

    .service-box {
        width: 100%;
    }

    .footer-top {
        margin-top: 0;
    }

    .footer-widget {
        margin-bottom: 30px;
    }

    .footer-widget.footer-logo {
        margin: 0;
        text-align: center;
    }

    .ta {
        text-align: center;
        margin-bottom: 0;
    }

    .copy-right p {
        font-size: 14px;
    }

    .pro-single-img {
        height: auto;
    }

    .pro-single-img img {
        position: inherit;
    }

}

/***** Wide Mobile Layout *****/

@media only screen and (min-width: 480px) and (max-width: 767px) {}
